body,
html {
  height: 100%;
}

p {
  margin: 0;
}

#playing-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  height: 300px;
  border-radius: 10px;
  font-size: 1.4rem;
  border: 1px #000 solid;
  padding: 8px;
}

.dev {
  outline: 2px red solid;
}

.left {
  align-self: start;
}

.middle {
  display: flex;
  align-self: center;
  flex-direction: column;
  font-size: 4rem;
}
.card-suit {
  margin: 0;
}

.red {
  color: red;
}

.black {
  color: black;
}

.flip {
  transform: rotate(180deg);
}

.right {
  align-self: end;
}
